h1
{

text-align: center;
margin: 02%;
border: 2px outset rgb(0, 0, 0);
background-color: rgb(238, 169, 40);
font-family:cursive;
text-shadow: 1px 1px;
width: auto;
padding: 0.5%;
border-radius: 25px;
animation: glow 2s ease-in-out infinite;

}

nav

{

    text-align: center;
    font-style: italic;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    border: 2px outset rgb(0, 0, 0);
    background-color: rgb(129, 163, 218);
    padding: 0.6%;
    margin: 0%;
    border-radius: 25px;
    


}



body
{
    border: 2px solid rgb(0, 2, 0);
    background-color: rgb(6, 4, 0);
    font-family:cursive;
    width: auto;
    padding: 0.50%;
    margin: 3%;
    opacity: 0.95;
    border-radius: 25px;
    animation: glow 2s ease-in-out infinite;

}




  
  .main {
    
    position: absolute;
    top: 48%;
    right: 0;
    transform: translate(0, -50%);
    margin-right: 6%;
    animation: glow 2s ease-in-out infinite;



  }
  /*when you want to move your text   */
p
{
padding-right: 30%;
}

iframe{

    border: solid rgb(0, 2, 0);
    background-color: rgb(238, 169, 40);
    font-family:cursive;
    opacity: 0.95;
    border-radius: 20px;
    margin: 2%;
    transform: translate(100%, 0%);
    opacity: 0.95;
    animation: glow 2s ease-in-out infinite;
   

}

button

{

    background-color: rgb(223, 115, 119);
    color: dodgerblue;
    text-transform: capitalize;
    font-family: cursive;
    border: outset black;
    border-radius: 20px;
    transform: translate(1008%, 0%);
    margin: 0.4%;
    font-size: 0.9em;
    animation: glow 2s ease-in-out infinite;

}
  
@keyframes glow {
    0% {
      box-shadow: 0 0 10px #efe8ec, 0 0 20px #69db34, 0 0 30px #3498db;
    }
    50% {
      box-shadow: 0 0 20px #f1f3f6, 0 0 30px #e7ef0b, 0 0 40px #3498db;
    }
    100% {
      box-shadow: 0 0 10px #cdd2d5, 0 0 20px #cfd6db, 0 0 30px #3498db;
    }
  }


  p{


color: #f1f3f6;
  }