/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;

background-color: black;
}

/* Header Styles */
h1 {
  text-align: center;
  margin: 2%;
  border: 2px outset rgb(0, 0, 0);
  background-color: rgb(238, 169, 40);
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px;
  padding: 0.5%;
  border-radius: 25px;
  animation: glow 2s ease-in-out infinite;
}

/* Navigation Styles */
nav {
  text-align: center;
  font-style: italic;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 25px;
  border: 2px outset rgb(0, 0, 0);
  background-color: rgb(129, 163, 218);
  padding: 0.6%;
  border-radius: 25px;
}

/* Main Content Styles */
.main {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(0, -50%); /* Center vertically */
  margin-right: 6%;
  animation: glow 2s ease-in-out infinite;
}


/* Paragraph Styles */
p {
  font-size: 20px;
  color: #f1f3f6;
  padding-right: 20%;
  padding-left: 1%;
  text-align: center;
  
}

/* iframe Styles */
iframe {
  border: solid rgb(0, 2, 0);
  background-color: rgb(238, 169, 40);
  opacity: 0.95;
  border-radius: 20px;
  margin: 1.5%;
  opacity: 0.95;
  animation: glow 2s ease-in-out infinite;
}

/* Button Styles */
button {
  background-color: rgb(223, 115, 119);
  color: dodgerblue;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  border: outset black;
  border-radius: 20px;
  margin: 1%;
  font-size: 20px;
  animation: glow 2s ease-in-out infinite;
}

/* Animation Keyframes */
@keyframes glow {
  0% {
      box-shadow: 0 0 10px #efe8ec, 0 0 20px #69db34, 0 0 30px #3498db;
  }
  50% {
      box-shadow: 0 0 20px #f1f3f6, 0 0 30px #e7ef0b, 0 0 40px #3498db;
  }
  100% {
      box-shadow: 0 0 10px #cdd2d5, 0 0 20px #cfd6db, 0 0 30px #3498db;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  h1 {
      font-size: 24px;
  }
  nav {
      font-size: 20px;
  }
  p {
      font-size: 16px;
  }
}
